{{#affinity-engine engineId="app" config=config fixtures=fixtures isFocused=true as |engine|}}
  {{#if engine.isLoaded}}
    {{affinity-engine-stage engineId=engine.engineId initialScene="initial"}}

    {{#affinity-engine-menu-bar engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-resize engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-reset engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-rewind engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-load engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-save engineId=engine.engineId}}
    {{/affinity-engine-menu-bar}}
  {{else}}
    {{#affinity-engine-curtain engineId=engine.engineId filesToPreload=(hash keyframes="src" sounds="src") as |curtain|}}
      <div>{{curtain.title}}</div>
      {{ember-progress-bar
        progress=curtain.progress
        useDefaultStep=true
      }}
    {{/affinity-engine-curtain}}
  {{/if}}
{{/affinity-engine}}
