{{#affinity-engine engineId="app" config=config fixtures=fixtures isFocused=true as |engine|}}
  {{#liquid-if (and engine.isLoaded sequencerComplete) class="liquid-engine"}}
    {{affinity-engine-stage engineId=engine.engineId initialScene="initial"}}

    {{#affinity-engine-menu-bar engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-resize engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-reset engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-rewind engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-load engineId=engine.engineId}}
      {{affinity-engine-menu-bar-button-save engineId=engine.engineId}}
    {{/affinity-engine-menu-bar}}
  {{else}}
    {{#affinity-engine-curtain engineId=engine.engineId filesToPreload=(hash keyframes="src" sounds="src") classNames="ae-full-size" as |curtain|}}
      {{#ember-sequencer
        animationAdapter="velocity"
        classNames="ae-full-size"
        frameDuration=1000
        animationIn=(hash duration=1000 effect=(hash opacity=(array 1 0)))
        animationOut=(hash duration=1000 effect=(hash opacity=0))
        onComplete=(toggle-action "sequencerComplete" this)
      as |sequencer|}}
        {{#sequencer.frame}}
          <div class="true-center">
            <h1>You are Just a Dinosaur</h1>
            <div>Words by null null null</div>
          </div>
        {{/sequencer.frame}}
        {{#sequencer.frame}}
          <a href="http://www.affinityengine.org" target="_blank" class="made-by-affinity">
            <div class="true-center">
              <img src="affinity-engine-logo.png">
            </div>
          </a>
        {{/sequencer.frame}}
        {{#sequencer.frame as |frame|}}
          {{ember-progress-bar
            progress=curtain.progress
            useDefaultStep=true
            options=progressBarOptions
          }}
          {{#if frame.isVisible}}
            {{#ember-sequencer
              animationAdapter="velocity"
              animationIn=(hash duration=1000 effect=(hash opacity=(array 1 0)))
              animationOut=(hash duration=1000 effect=(hash opacity=0))
              classNames="ae-full-size"
            as |sub-sequencer|}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>Dinosaurs walked the Earth 65 million years ago.</div>
                </div>
              {{/sub-sequencer.frame}}
              {{#sub-sequencer.frame}}
                <div class="true-center">
                  <div>One of the largest dinosaur skeletons was 39 feet tall and 74 feet long.</div>
                </div>
              {{/sub-sequencer.frame}}
            {{/ember-sequencer}}
          {{/if}}
        {{/sequencer.frame}}
      {{/ember-sequencer}}
    {{/affinity-engine-curtain}}
  {{/liquid-if}}
{{/affinity-engine}}
